<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldTypes>
      <fieldType name="General Link with Source Query" type="MS.CustomFields.Fields.GeneralLinkWithSource,MS.CustomFields" />
      <fieldType name="General Link with Search and Source Query" type="MS.CustomFields.Fields.GeneralLinkWithSource,MS.CustomFields" />
    </fieldTypes>
  </sitecore>
</configuration>
